<p>
  <b>Name:</b>
  <%=h @widget.name %>
</p>

<p>
  <b>Desc:</b>
  <%=h @widget.desc %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @widget.quantity %>
</p>


<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>